* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-meet {
  background-color: rgb(216, 40, 37);
  padding: 10px; 
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.592));


.text-color {
color: aliceblue;
}